<!DOCTYPE html>
<html>
    <head>
        <title>QuizApp</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <hr>
        <span>click the following button</span>
        <hr>
        <button>
            <a href = "/quiz">start</a>
        </button>
    </body>

</html>