<!DOCTYPE html>


<html>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <head>
        <meta charset="UTF-8">
        <title>title</title>
    </head>
    <body>
        <div id="wrapper">
            <h2>
                <span id="title">
                    Is fetching
                </span>
            </h2>
            <div>
                <div>
                    <span id=category></span>
                </div>
                <div>
                    <span id="difficulty"></span>
                </div>
            </div>
            <hr>
                <div id="content">
                    Just a moment please
                </div>
            <hr>
            <div id="answers"></div>
            <div id="button"></div>
        </div>
    </body>　
    
    <script type="babel" src=../javascripts/quiz.js></script>
    <script type="text/javascript" src=../javascripts/functions.js></script>
    <script type="module" src=../javascripts/main.js></script>

    
</html>